body {
    background-color: #FBFEFB;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.dropbtn {
    background-color: #D0B8AC;
    color: #FBFEFB;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    padding: 25px;
    border: none;
    width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D0B8AC;
    color: #FBFEFB;
    z-index: 1;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    border: none;
    width: 100%;
}

.dropdown-content a {
    color: #FBFEFB;
    padding: 24px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

body {
    background-color: #FBFEFB;
}