.patternHeader {
    text-align: center;
    font-size: 80px;
    margin-top: 25px;
    color: #83746C;
}

hr.rounded {
    background-color: #D0B8AC;
    border-top: 8px solid #D0B8AC;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 95%;
}